*{
    padding: 0%;
}
body{
    background-color: black;
}
.container1{
    max-width: 100%;
    height: 555px;
    background-image: linear-gradient(rgb(10, 10, 10),
                                    rgb(34, 33, 33),
                                     rgb(12, 12, 12));
    display: grid;
    grid-template-columns: auto;
}
.header{
    width: 80%;
    height: 45px;
    margin-top: 57px;
    display: flex;
   margin-left: 10%;
}
.navitem1{
    width: 50%;
    height: 100%;
    font-size: xx-large;
    color:rgb(230, 83, 60);
    display: flex;
    justify-content: left;
    align-items: center;
}
.bar3{
    width: 30%;
    height: 100%;
    margin-left: 30%;
}
.navitem2{
    width: 50%;
    height: 100%;
   display: flex;
   justify-content: right;
   
    
}
.navitem2 ul{
    width: 55%;
    height: 70%;
    border: 1px solid rgb(34, 33, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    border-radius: 50px;
}
.navitem2 ul li{
    color: white;
    display: inline-block;
    justify-content: center;
    align-items: right;
    margin-right: 10px;
    padding: 10px;
    line-height: 10px;
    border-radius: 50px;
    
}
.navitem2 ul li:hover{
    background-color: rgb(230, 83, 60);
}
.bar3{
    visibility: hidden;
}
.banner{
    width: 100%;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.text{
    width: 100%;
    height: 450px;
    color: white;
    font-size: xx-large;
}
.text h1{
    margin-left: 20%;
    line-height: 70px;
}
.text h1 i{
    font-family: 'Miama', sans-serif;
}
.text p{
    color: rgba(255, 255, 255, 0.5);
    font-size: small;
    text-align: center;
    margin-right: 20%;
    margin-top: 0;
}
.btn button{
    width: 224px;
    height: 54px;
    background: none;
    color: white;
    border-radius: 50px;
}
.btn button:hover{
    background-color: rgb(230, 83, 60);
}
.btn{
    margin-left: 20%;
}
@import url('https://fonts.cdnfonts.com/css/miama?styles=170364');
.picture{
    width: 100%;
    height: 450px;
    display: flex;
    position: relative;
}
.imag{
    width: 100%;
    height: 100%;
    margin-left: 35%;
}
.imag img{
    width: 100%;
    height: 100%;
}
.free{
    width: 60%;
    height: 80px;
    margin-top: 120px;
    position: relative;
    z-index: 1;
    right: 80px;
    border-radius: 10px;
    color: white;
    line-height: none;
    background-color: rgba(255, 255, 255, 0.1);
    
}
.free p{
    color: rgb(255, 255, 255, 0.5);
    margin-top: 10px;
    margin-left: 20px;
}
.free p b{
    font-size: xx-large;
    color: white;
}
.video{
    width: 185px;
    height: 80px;
    position: absolute;
    top: 320px;
    right: 380px;
    border-radius: 20px;
    z-index: 2;
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
}
.playbutton{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(230, 83, 60);
}
.video p{
    margin-left: 20px;
    color:rgb(255, 255, 255, 0.5);
}
.video p b{
    color: white;
    font-size: xx-large;
}

.container2{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}
.habits{
   width: 40%;
   height: 100px;
   color: white;
   text-align: center;
   line-height: 15px;
   display: grid;
   grid-template-rows: repeat(1,1fr);
}
.habits div{
    width: 100%;
    height: 60px;

}
.habits p{
   color:rgb(255, 255, 255, 0.5);
}
.container2s{
    width: 100%;
    height: 274px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2s1{
    width: 80%;
    height: 274px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.container2s1 div{
    width: 180px;
    height: 274px;
    text-align: center;
    margin-left: 50px;
}
.container2s1 div img{
    border-radius: 50%;
}
.container2s1 div b{
    color: white;
    font-size: large;
}
.container2s1 div p{
    color: rgb(255, 255, 255, 0.5);
    font-size: small;
}
.section{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section3{
    width: 80%;
    height: 450px;
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px ;
}
.secton3s1{
   width: 85%;
   height: 371px; 
   margin-top: 40px;
   margin-left: 10%;
   border-radius: 20px;
}
.secton3s1 h1{
    color: white;
    font-size: 60px;
    margin-top: 0px;
}
.secton3s1 p{
    color: rgb(255, 255, 255, 0.5);
}
.secton3s1 button{
    width: 224px;
    height: 54px;
    background: none;
    color: white;
    border-radius: 50px;
    font-size: medium;
    margin-top: 40px;
}
.secton3s1 button:hover{
    background-color:rgb(230, 83, 60) ;
}

.secton3s2{
    width: 75%;
    height: 371px;
    margin-top: 40px;
    margin-left: 20%;
    border-radius: 20px;
}
.secton3s2 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: none;
    object-position: 65% 30%;
}
.food-title{
    max-width: 80%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10%;
}
.food{
    max-width: 70%;
    height: 150px;
    color: white;
    line-height: 20px;
    text-align: center;
}
.food h1{
    font-size: 45px;
}
.food p{
    color:rgb(255, 255, 255, 0.5);
    text-align: center;
}
.foods-container{
    width: 80%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10%;
}
.foods{
    max-width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;

}

.foods div{
    width: 300px;
    height: 250px;
    border-radius: 20px;
    margin-top: 10px;
}
.foods img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.foods-container p{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
}
.bmi-header{
    max-width: 60%;
    height: 150px;
    position: relative ;
    left: 15%;
}
.bmi-header h1{
    color: white;
    font-size: 35px;
    margin-top: 50px;
}
.bmi-header p{
    color:rgb(255, 255, 255, 0.5) ;
    text-align: left;
}
.bmi-calculator{
    max-width: 100%;
    height: 350px;
    background-color: rgb(34, 34, 34);
}
.bmi-box{
    max-width: 80%;
    height: 350px;
    position: relative;
    left: 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.bmi-table{
    width: 100%;
    height: 350px;
}
.bmi-table h1{
    color: white;
    margin-left: 10%;
}
.bmi-table table{
    border-collapse: collapse;
    width: 310px;
    height: 216px;
    margin-left: 10%;
}
.bmi-table th{
    color: white;
}
.bmi-table td{
    color: rgb(255, 255, 255, 0.5);
    
}
.bmi-table td, th{
    border: 1px solid rgb(255, 255, 255, 0.5);
    text-align: left ;
    margin-left: 20px;
    position: relative;
    left: 20px;
}
.bmi-calculating{
    width: 100%;
    height: 350px;
}
.bmi-calculating h1{
    color: white;
}
.bmi-calculating p{
    color: rgb(255, 255, 255, 0.5);
}
.input{
    background-color:rgb(255, 255, 255, 0.1) ;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    margin: 5px;
    color:rgb(255, 255, 255, 0.5);
    padding-left: 20px;
}
#sex{
    width: 220px;
}
#activity{
    width:455px;
}
.run{
    color: black;
}
.placeholder{
    margin-left: 20px;
}
.submit{
    background: none;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    color: white;
    position: relative;
    top: 15px;
}
.submit:hover{
    background-color: rgb(230, 83, 60);
}
.team-header{
    width: 40%;
    height:119px;
    position: relative;
    left: 30%;
    text-align: center;
}
.team-header h1{
    color: white;
}
.team-header p{
    color:rgb(255, 255, 255, 0.5);
}
.team-bg{
    max-width: 80%;
    height: 680px;
    position: relative;
    left: 10%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.team-content{
    width: 100%;
    height: 620px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    margin-left: 35px;
}
.team-content div{
    max-width: 300px;
    height: 272px;
    border-radius: 20px;
    margin-top: 10px;
    line-height: 5px;
}
.team-content img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.title h3{
    color: white;
}
.title p{
    color: rgba(255, 255, 255, 0.5);
}
.title{
    position: relative;
    bottom: 80px;
    left: 20px;
}






















@media screen and (max-width: 576px) {
    .navitem2{
        visibility: hidden;
    }
    .bar3 i{
        color: white;
        visibility: visible;
    }
    .fa-solid.fa-bars{
        margin-left: 100px;
    }
    .banner{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .text h1{
        margin-left: 2%;
       font-size: larger;
       line-height: 40px;

    }
    .header{
        margin-left: 2%;
    }
    .text p{
        text-align: left;
        margin-left: 2%;
    }
    .text{
        height: 300px;
    }
    .container1{
        background-image: linear-gradient(rgb(10, 10, 10),
                                    rgb(34, 33, 33),
                                     rgb(26, 26, 26));
        max-width: 100%;
        height: 940px;
        display: grid;
        grid-template-columns: auto;
        gap: 0px;
    }
    .text{
        position: absolute;
        top: 150px;
        left: 20px;
    }
    .picture{
    position: absolute;
    bottom: 0px;
    top: 500px;
    left: 20px;
    }
    .video{
        position: absolute;
        left: 20px;
    }
    .btn{
        margin-left: 2%;
    }
    .btn button{
        width: 170px;
    }
    .imag{
        margin-left: 10%;
        width: 50%;
    }
    .free{
        margin-right: 18%;
        width: 150px;
        position: absolute;
        z-index: 2;
    }
    .container2s1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .habits{
        display: grid;
        grid-template-rows: repeat(1,1fr);
        align-items: center;
        justify-content: center;
    }
    .habits div{
        width: 300px;
        height: 60px;
    }
    .section3{
        width: 85%;
        height: 920px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        position: relative;
        top: 1100px;
    }
    .secton3s2 img{
        position: relative;
        right: 35px;
    }
    .secton3s1{
        text-align: left;
    }
    .food-title{
        position: relative;
        top: 1300px;
    }
    .food h1{
       line-height: 45px;
    }
    .foods{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        position: relative;
        top: 1350px;
    }
    .bmi-header{
        position: relative;
        top: 2550px;
    }
    .bmi-calculator{
        position: relative;
        top: 2600px;
        height:700px;
    }
    .bmi-box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .bmi-calculating{
        position: relative;
        left: 5px;
        width: 525px;
    }
    .team-header{
        position: relative;
        top: 2600px;
        width: 70%;
        height: 150px;
        position: relative;
        left: 15%;
    }
    .team-bg{
        position: relative;
        top: 2600px;
        height:1750px;
    }
    .team-content{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        position: absolute;
        top: 10px;
        left: 5px;
    }
    



}